<div id="page_home">
    <!-- Body Wrapper Start -->
    <div class="body_wrapper">
        <!-- Order Section Start -->
        <div class="order_section">
            <div class="order_item_container">
                <!-- <-- id="item_list" class="item_list"> 原先-->
                <div id="item_list" class="item_list active">
                    <div class="order_header">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <h2>{{'item' | translate}}</h2>
                            </div>
                            <div class="col-2 text-center">
                                <h2>{{'price' | translate}}</h2>
                            </div>
                            <div class="col-3 text-center">
                                <h2>{{'qnt' | translate}}.</h2>
                            </div>
                            <div class="col-3 text-right">
                                <h2>{{'total' | translate}}($)</h2>
                            </div>
                        </div>
                    </div>

                    <!-- Food List Start -->
                    <ul>
                        <li *ngFor="let order of myCart">
                            <div class="row">
                                <div class="col-4">
                                    <h2>{{order.meal}}</h2>
                                </div>
                                <div class="col-2 text-center">
                                    <h3>{{order.price}}</h3>
                                </div>
                                <div class="col-3 text-center">
                                    <h3 class="d-flex align-items-center">
                                        <i class="zmdi zmdi-minus"></i>
                                        <strong>{{order.qty}}</strong>
                                        <i class="zmdi zmdi-plus"></i>
                                    </h3>
                                </div>
                                <div class="col-3 text-right">
                                    <h4>{{order.total}}</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Food List End -->

                    <div class="order_footer">
                        <div class="amount_details">
                            <!-- <h2 class="d-flex text-right">
                                <span class="text">{{'sub_total' | translate}} </span>
                                <span class="mr-0 ml-auto">{{sub_total}}</span>
                            </h2> -->
                            <!-- <h2 class="d-flex text-right">
                                <span class="text">{{'tax' | translate}}</span>
                                <span class="mr-0 ml-auto">{{tax}}</span>
                            </h2>
                            <h2 class="d-flex text-right">
                                <span class="text">{{'other_charge' | translate}}</span>
                                <span class="mr-0 ml-auto">0</span>
                            </h2> -->
                        </div>
                        <div class="amount_payble">
                            <h2 class="d-flex text-right">
                                <span class="text">{{'amount_to_Pay' | translate}}</span>
                                <span class="mr-0 ml-auto">{{amount_to_Pay}}</span>
                            </h2>
                        </div>

                        <div class="btn_box">
                            <div class="row no-gutter mx-0">
                                <button type="button" id="cancel_order" class="btn col Cancel" (click)="cancel()">
                                    <a>{{'cancel' | translate}}</a>
                                </button>
                                <button type="button" id="back-order" class="btn col" (click)="backOrder()">
                                    <a>{{'back_order' | translate}}</a>
                                </button>
                                <button type="button"  id="place-order" class="btn col Success" data-toggle="modal" data-target="#printModal" (click)="order()">
                                    <a>{{'place_order' | translate}}</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab Items End -->
            </div>
        </div>
        <!-- Order Section End -->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="printModal" tabindex="-1" aria-labelledby="printModalLable" aria-hidden="true">
        <div class="modal-dialog" style="margin:25% auto auto;">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="print-area">
                        <div class="print-icon">
                            <i *ngIf="isPrint" class="zmdi zmdi-check-circle"></i>
                            <i *ngIf="!isPrint" class="zmdi zmdi-alert-circle"></i>
                        </div>
                        <div class="print-txt">{{dialog_txt}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>