
<div>
    <div class="row align-items-start justify-content-center mx-0" style="height:100vh">
        <div class="card card-container col-12 col-lg-12 col-xl-10 bg-white px-0 mx-0">
            <div class="card-body chatCard row align-items-center justify-content-center mx-0">
                <!-- Status -->
                <div class="col align-self-start ai-status" style="height: 100%;">
                    <!-- LOGO -->
                    <!-- <div class="col-12 text-start ml-2 mr-auto px-0 mb-3">
                        <div class="logo">
                            <img src="assets/images/logo.png" class="img-fluid" (click)="aiHome()">
                        </div>
                    </div> -->
                    <div class="col-12 text-start ml-2 mr-auto ai-audio">
                        <div>
                            <i class="zmdi zmdi-mic zmdi-hc-2x" [style]="isPhone? 'color:#24cb24;':'color:black;'"></i>
                        </div>
                        <div>
                            <!-- <img *ngIf="isPhone" src="../../assets/wave/audio-wave.gif">
                            <img *ngIf="!isPhone" src="../../assets/wave/audio-wave.png"> -->
                            <div class="boxContainer">
                                <div class="box box1" [style]="isPhone?'animation-duration: 1.2s;background:#24cb24;':''"></div>
                                <div class="box box2" [style]="isPhone?'animation-duration: 1.2s;background:#24cb24;':''"></div>
                                <div class="box box3" [style]="isPhone?'animation-duration: 1.2s;background:#24cb24;':''"></div>
                                <div class="box box4" [style]="isPhone?'animation-duration: 1.2s;background:#24cb24;':''"></div>
                                <div class="box box5" [style]="isPhone?'animation-duration: 1.2s;background:#24cb24;':''"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-start mr-auto px-0 status-gender">
                        <i *ngIf="userInfo.gender==='Male'" class="zmdi zmdi-male zmdi-hc-3x"></i>
                        <i *ngIf="userInfo.gender==='Female'" class="zmdi zmdi-female zmdi-hc-3x"></i>
                    </div>
                    <div class="col-12 text-start ml-0 mr-auto px-0 status-bg" [style]="isPhone ? 'background:#24cb24':'background:#ccc;'">
                        <div class="txt">{{status}}</div>
                    </div>
                    <div class="col-12 text-start ml-0 mr-auto px-0">
                        {{errMsg}}
                    </div>
                </div>
                <!-- User Info -->
                <div *ngIf="mode==='debug'" class="col">
                    <div *ngIf="userInfo" class="col-7 text-start ml-auto mr-auto px-0" style="height:100%">
                        <div class="card">
                            <img class="avatar-cust" [src]="'../../assets/images/profile/user.jpg?'+ imgTime">
                            <div class="cust-info px-2 pb-2">
                                <div>{{userInfo.gender}}</div>
                                <!-- <div>{{userInfo.age}}歲</div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- AI Waiter -->
                <div class="col-5 col-lg-6 text-center" style="height: 100%;">
                    <img class="avatar-logo" [src]="'../../assets/images/profile/'+ this.userImg">
                    <div class="chat-about">
                        <div class="ai-name">AI Waiter</div>
                    </div>
                </div>
                <div class="col text-right" style="height: 100%;">
                    <div class="row align-content-between" style="height: 100%;">
                        <!-- Home -->
                        <div class="col">
                            <div class="home-btn">
                                <img src="../../assets/images/homeBtn.png" alt="homeBtn" (click)="aiHome()">
                            </div>
                        </div>
                        <!-- Cart -->
                        <div class="col">
                            <div class="cart-area" data-toggle="modal" data-target="#cartModal">
                                <div *ngIf="myCart.length" class="cart-num">{{myCart.length}}</div>
                                <div class="row align-items-center" style="padding: 10px;">
                                    <div class="cart-btn">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </div>
                                    <div class="cart-txt" >
                                        目前金額:
                                        <p class="price">${{amount_to_Pay}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body chatContent ">
                <div class="chat overflow-auto" [ngStyle]="{'height':ad?'70%':'100%'}">
                    <ul *ngIf="true" >
                        <li *ngFor="let s of messages; let key = index"  >
                            <div *ngIf="s.from =='AI'" class="text-left">
                                <img *ngIf="!(s.from === prev_from[key-1])" class="avatar" [src]="'../../assets/images/profile/'+ this.userImg">
                                <div style="display: inline-block;max-width: 100%;" [style]="s.from === prev_from[key-1] ? 'margin-left:100px':''">
                                    <div class="text-left text-black message">
                                        <div *ngIf="s.meal">
                                            <img [src]="'../../assets/images/food/'+s.food_img+'.jpg'" alt="">
                                        </div>  
                                        <div class="pb-2">{{s.msg}}</div>
                                        <div *ngIf="s.meal" style="border-top:1px solid black; font-size: 26px;" class="py-2">單價:${{s.price}}</div> 
                                        <div *ngIf="s.meal" style="font-size: 26px;" class="py-2">總金額:${{s.amount_to_Pay}}</div> 
                                        <div class="row msg-btn justify-content-end">
                                            <button *ngIf="s.meal" type="button" class="col-5 my-3 btn place_order" (click)="deleteOrder(s,'msg');deleteTarget($event.target);">
                                                取消
                                            </button>
                                        </div>   
                                    </div>
                                    <!-- <br> -->
                                    <!-- <div class="text-black message mt-4">
                                        <div *ngIf="s.meal">
                                            <img [src]="'../../assets/images/food/'+s.food_img+'.png'" alt="">
                                        </div>  
                                        <div class="pb-2">{{s.msg}}</div>
                                        <div *ngIf="s.meal" style="border-top:1px solid black;font-size: 26px;" class="py-2">目前試算金額:${{s.amount_to_Pay}}</div>
                                    </div> -->
                                    <span class="msg-datetime">17:02</span>
                                </div>
                            </div>
                            <div *ngIf="s.from =='User' " class="text-right">
                                <div style="display: inline-block;" [style]="s.from === prev_from[key-1] ? 'margin-right:100px':''">
                                    <span class="msg-datetime">17:02</span>
                                    <div class="text-left text-black message">{{s.msg}}</div>
                                </div>
                                <img *ngIf="!(s.from === prev_from[key-1])" class="avatar" src="../../assets/images/me.png">
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div *ngIf="ad" class="row align-items-center mx-0 ad" style="height:30%;">
                    <div *ngFor="let ad of ads_food" class="col-4">
                        <div class="reason">{{ad.reason}}</div>
                        
                        <div class="ad-food" (click)="manualOrder(ad)">
                            <img [src]="'../../assets/images/food/'+ad.food_img+'.jpg'" width="95%" height="95%" alt="">
                            <div class="text">{{ad.meal}}</div>
                            <div class="price">${{ad.price}}</div>
                        </div>
                    </div>
                    <!-- <div class="col-4">
                        <img src="../../assets/images/2.png" width="100%" alt="">
                    </div>
                    <div class="col-4">
                        <img src="../../assets/images/4.png" width="100%" alt="">
                    </div> -->
                </div>
            </div>
            <!-- Button 點餐區 -->
            <div class="row mx-0 btn-area">
                <button type="button" class="col btn menu" data-toggle="modal" data-target="#menuModal" (click)="menuOpen()">
                    <i class="zmdi zmdi-book-image zmdi-hc-3x"></i>
                </button>
                <button type="button" class="col btn Cancel" (click)="phone()">
                    <i *ngIf="phoneMode ==='open'" class="zmdi zmdi-mic zmdi-hc-2x"></i>
                    <i *ngIf="phoneMode ==='close'" class="zmdi zmdi-mic-off zmdi-hc-2x"></i>
                </button>
                <button type="button" class="col btn place_order" (click)="finish()">
                    <i class="zmdi zmdi-money-box zmdi-hc-3x"></i>
                </button>
            </div>          
        </div>
    </div>
    
    <!-- Menu Modal -->
    <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" style="margin:auto;">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="menu-area">
                        <img src="../../assets/images/menu.png" class="w-100" alt="" >
                        <div class="menu-content">
                            <div class="menu-header">
                                <div class="category" (click)="filterItems('all', $event.target)">
                                    <!-- <div class="img" [style.background-image]="'url(../../assets/images/1.png)'"></div> -->
                                    <div class="title">全部</div>
                                </div>
                                <div *ngFor="let cat of food_category" class="category" (click)="filterItems(cat, $event.target)">
                                    <!-- <div [style.background-image]="'url(../../assets/images/food/'+ad.food_img+'.png)'"></div> -->
                                    <div class="title">{{cat}}</div>
                                </div>
                            </div>
                            <div class="menu-items">
                                <div *ngFor="let food of filterData" class="food-card" (click)="selectFood(food, $event.target); ">
                                    <div class="food-img" [style.background-image]="'url(../../assets/images/food/' + food.goods_img + '.jpg)'"></div>
                                    <div class="info">
                                        <h2 class="name">{{food.goods_name}}</h2>
                                        <h3 class="price">
                                            ${{food.price}}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tempSelectedFood.meal" class="menu-footer">
                            <div class="row align-items-center justify-content-center " style="height:100%">
                                <div class="col-2 btn-group btn-group-toggle qty-group align-items-center" data-toggle="buttons" style="height:50%">
                                    <label class="btn minus" (click)="mathFood(tempSelectedFood, 'minus')">
                                        <i class="zmdi zmdi-minus btn"></i>
                                    </label>
                                    <strong>{{tempSelectedFood.qty}}</strong>
                                    <label class="btn plus" (click)="mathFood(tempSelectedFood, 'plus')">
                                        <i class="zmdi zmdi-plus btn" ></i>
                                    </label>
                                </div>
                                <div class="col-1 btn btn-primary btn-confirm d-flex justify-content-center align-items-center" (click)="confirmFood()">
                                    確定
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="margin:25% auto auto;">
            <div class="modal-content">
            <div class="modal-body p-0">
                <!-- Content -->
                <div id="item-list" class="item-list active">
                    <div class="order-header">
                        <div class="txt">購物車</div>
                    </div>
                    <div class="order-title">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <div class="txt">{{'item' | translate}}</div>
                            </div>
                            <div class="col-2 text-center">
                                <div class="txt">{{'price' | translate}}</div>
                            </div>
                            <div class="col-3 text-center">
                                <div class="txt">{{'qnt' | translate}}</div>
                            </div>
                            <div class="col-2 text-center">
                                <div class="txt">{{'total' | translate}}($)</div>
                            </div>
                            <div class="col-2 text-right">
                                <div class="txt">{{'operate' | translate}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- Food List Start -->
                    <ul class="order-items">
                        <li *ngFor="let order of myCart">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <div>{{order.meal}}</div>
                                </div>
                                <div class="col-2 text-center">
                                    <div>${{order.price}}</div>
                                </div>
                                <div class="col-3 text-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="zmdi zmdi-minus btn btn-math" (click)="mathOrder(order, 'minus')"></i>
                                        <strong>{{order.qty}}</strong>
                                        <i class="zmdi zmdi-plus btn btn-math" (click)="mathOrder(order, 'plus')"></i>
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <div>${{order.total}}</div>
                                </div>
                                <div class="col-2 text-right">
                                    <i class="zmdi zmdi-close btn close-btn" (click)="deleteOrder(order)"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Food List End -->

                    <div class="order-footer">
                        <div class="pay-area">
                            <div class="row justify-content-center align-items-around">
                                <div class="col txt">{{'amount_to_Pay' | translate}}</div>
                                <div class="col price">${{amount_to_Pay}}</div>
                            </div>
                        </div>

                        <div class="btn_box">
                            <div class="row justify-content-end no-gutter mx-0">
                                <button type="button" class="btn col-3 mr-3 my-3" id="place-order" (click)="finish()"><a>{{'place_order' | translate}}</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
