
<div>
    <div class="row align-items-start justify-content-center mx-0" style="height:100vh">
        <div class="card card-container col-12 col-lg-12 col-xl-10 bg-white px-0 mx-0">
            <div class="card-body chatCard row align-items-center justify-content-center mx-0">
                <div class="col px-0 align-self-start ai-status" style="height: 100%;">
                    <!-- LOGO -->
                    <!-- <div class="col-12 text-start ml-2 mr-auto px-0 mb-3">
                        <div class="logo">
                            <img src="assets/images/logo.png" class="img-fluid" (click)="aiHome()">
                        </div>
                    </div> -->
                    <div class="col-12 text-start ml-0 mr-auto ai-audio">
                        <div>
                            <i class="zmdi zmdi-mic zmdi-hc-2x" [style]="isPhone? 'color:#24cb24;':'color:black;'"></i>
                        </div>
                        <div>
                            <!-- <img *ngIf="isPhone" src="../../assets/wave/audio-wave.gif">
                            <img *ngIf="!isPhone" src="../../assets/wave/audio-wave.png"> -->
                            <div class="boxContainer">
                                <div class="box box1" [style]="isPhone?'animation-duration: 1.2s;background:#24cb24;':''"></div>
                                <div class="box box2" [style]="isPhone?'animation-duration: 1.2s;background:#24cb24;':''"></div>
                                <div class="box box3" [style]="isPhone?'animation-duration: 1.2s;background:#24cb24;':''"></div>
                                <div class="box box4" [style]="isPhone?'animation-duration: 1.2s;background:#24cb24;':''"></div>
                                <div class="box box5" [style]="isPhone?'animation-duration: 1.2s;background:#24cb24;':''"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-start ml-0 mr-auto px-0 status-bg" [style]="isPhone ? 'background:#24cb24':'background:#ccc;'">
                        <div class="txt">{{status}}</div>
                    </div>
                </div>
                <!-- User Info -->
                <div *ngIf="mode==='debug'" class="col">
                    <div *ngIf="userInfo" class="col-7 text-start ml-auto mr-auto px-0" style="height:100%">
                        <div class="card">
                            <img class="avatar-cust" [src]="'../../assets/images/profile/user.jpg?'+ imgTime">
                            <div class="cust-info px-2 pb-2">
                                <div>{{userInfo.gender}}</div>
                                <!-- <div>{{userInfo.age}}歲</div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- AI Waiter -->
                <div class="col-5 col-lg-6 text-center" style="height: 100%;">
                    <img class="avatar-logo" [src]="'../../assets/images/profile/'+ this.userImg">
                    <div class="chat-about">
                        <div class="ai-name">AI Waiter</div>
                    </div>
                </div>
                <!-- Home -->
                <div class="col text-right align-self-start">
                    <div class="home">
                        <img src="../../assets/images/homeBtn.png" alt="homeBtn" (click)="aiHome()">
                        <!-- <i class="zmdi zmdi-home zmdi-hc-3x" (click)="aiHome()"></i> -->
                    </div>
                </div>
            </div>
            <div class="card-body chatContent ">
                <div class="chat overflow-auto" [ngStyle]="{'height':ad?'70%':'100%'}">
                    <ul *ngIf="true" >
                        <li *ngFor="let s of messages; let key = index"  >
                            <div *ngIf="s.from =='AI' " class="text-left">
                                <img *ngIf="!(s.from === prev_from[key-1])" class="avatar" [src]="'../../assets/images/profile/'+ this.userImg">
                                <div style="display: inline-block;max-width: 100%;" [style]="s.from === prev_from[key-1] ? 'margin-left:100px':''">
                                    <div class="text-left text-black message">
                                        <div *ngIf="s.meal">
                                            <img [src]="'../../assets/images/food/'+s.food_img+'.jpg'" alt="">
                                        </div>  
                                        <div class="pb-2">{{s.msg}}</div>
                                        <div *ngIf="s.meal" style="border-top:1px solid black; font-size: 26px;" class="py-2">單價:${{s.price}}</div> 
                                        <div *ngIf="s.meal" style="font-size: 26px;" class="py-2">總金額:${{s.sub_total}}</div> 
                                        <div *ngIf="key+1 == messages.length" class="row msg-btn">
                                            <button type="button" class="col my-2 btn menu" data-toggle="modal" data-target="#exampleModal" (click)="menu()">
                                                跳出菜單
                                            </button>
                                            <button  type="button" class="col my-2 btn" (click)="phone()" [style]="isPhone? 'background:#d7d7d7;':'background:red;'" [disabled]="isPhone">
                                                按我說話
                                            </button>
                                            <!--  key >= firstMeal //有餐點後每條訊息都有 -->
                                            <button *ngIf="myCart.length!=0" type="button" class="col my-2 btn place_order" (click)="finish()">
                                                結帳
                                            </button>
                                        </div>   
                                    </div>
                                    <!-- <br> -->
                                    <!-- <div class="text-black message mt-4">
                                        <div *ngIf="s.meal">
                                            <img [src]="'../../assets/images/food/'+s.food_img+'.png'" alt="">
                                        </div>  
                                        <div class="pb-2">{{s.msg}}</div>
                                        <div *ngIf="s.meal" style="border-top:1px solid black;font-size: 26px;" class="py-2">目前試算金額:${{s.sub_total}}</div>
                                    </div> -->
                                    <span class="msg-datetime">17:02</span>
                                </div>
                            </div>
                            <div *ngIf="s.from =='User' " class="text-right">
                                <div style="display: inline-block;" [style]="s.from === prev_from[key-1] ? 'margin-right:100px':''">
                                    <span class="msg-datetime">17:02</span>
                                    <div class="text-left text-black message">{{s.msg}}</div>
                                </div>
                                <img *ngIf="!(s.from === prev_from[key-1])" class="avatar" src="../../assets/images/me.png">
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div *ngIf="ad" class="row align-items-center mx-0 ad" style="height:30%;">
                    <div *ngFor="let ad of ads_food" class="col-4">
                        <div class="reason">{{ad.reason}}</div>
                        
                        <div class="ad-food" (click)="manualOrder(ad)">
                            <img [src]="'../../assets/images/food/'+ad.food_img+'.jpg'" width="95%" height="95%" alt="">
                            <div class="text">{{ad.meal}}</div>
                            <div class="price">${{ad.price}}</div>
                        </div>
                    </div>
                    <!-- <div class="col-4">
                        <img src="../../assets/images/2.png" width="100%" alt="">
                    </div>
                    <div class="col-4">
                        <img src="../../assets/images/4.png" width="100%" alt="">
                    </div> -->
                </div>
            </div>
            <!-- Button 點餐區 -->
            <div class="row mx-0 btn-area">
                <button type="button" class="col btn menu" data-toggle="modal" data-target="#exampleModal" (click)="menu()">
                    <i class="zmdi zmdi-book-image zmdi-hc-3x"></i>
                </button>
                <button type="button" class="col btn Cancel" (click)="phone()" [style]="isPhone? 'background:#d7d7d7;':'background:red;'" [disabled]="isPhone">
                    <i class="zmdi zmdi-mic zmdi-hc-2x"></i>
                </button>
                <!-- <button type="button" class="col btn Cancel" (click)="chatData()">Cancel</button> -->
                <button type="button" class="col btn place_order" (click)="finish()">
                    <i class="zmdi zmdi-money-box zmdi-hc-3x"></i>
                </button>
            </div>          
        </div>
    </div>
    
    <!-- Menu Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="../../assets/images/menu3.png" class="w-100" alt="" >
                <button  type="button" class="col btn phone" (click)="phone()" [style]="isPhone? 'background:#d7d7d7;':'background:red;'" [disabled]="isPhone">
                    <i class="zmdi zmdi-mic zmdi-hc-2x"> 按我說話</i>
                </button>
            </div>
            </div>
        </div>
    </div>
</div>
