
<div>
    <div *ngIf="!ready" class="row align-items-start justify-content-center mx-0" style="height:100vh;">
        <div class="content">
            <img src="../../assets/images/home.png" alt="banner" srcset="">
        </div>
        <div class="btn-area w-100">
            <button type="submit" class="btn" (click)="start1()">點擊螢幕開始點餐</button>
            <!-- <button type="submit" class="btn" (click)="start2()">點擊螢幕開始點餐2</button> -->
        </div>
    </div>
    <div *ngIf="ready" class="row align-items-start justify-content-center mx-0" style="padding-top:40%;">
        <div class="text-center loading-area">
            <div class="spinner-border text-warning pa-5" role="status" style="width: 10rem; height: 10rem; margin-bottom:5rem;" >
                <span class="sr-only">Loading...</span>
            </div>
            <div class="loading-text text-warning" style="font-size: 65px;">Loading...</div>
        </div>
    </div> 
</div>